<%- include("partials/header"); -%>

<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1 class="lg-title"><%= aboutTitle %></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="pt-5 padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <div class="col-lg-12">
                        <img src="images/about.jpg" alt="" class="img-fluid w-100">
                    </div>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="text-uppercase letter-spacing mb-4">Who am I?</h5>
                                <p>Hi there! I'm Shani, a passionate individual with a deep-rooted curiosity about the vast world we live in.
                                    With a background in computer science, specifically in website development, I've spent the last 4 yeras navigating the digital realm and bringing ideas to life through code
                                </p>

                            </div>
                            <div class="col-lg-12">
                                <h5 class="text-uppercase letter-spacing mb-4">MY VISION</h5>
                                <p>My vision is simple yet powerful - I aspire to inspire. I believe in a holistic approach to life, blending elements of fitness, health, wellness, spirituality, and mindfulness.
                                    Through my journey, I've come to realize that personal development is not just about achieving success but also about overcoming challenges, constantly evolving, and becoming a better version of oneself.</p>
                            </div>
                            <div class="col-lg-12">
                                <h5 class="text-uppercase letter-spacing mb-4">What I like to do?</h5>
                                <p> My interests are diverse and dynamic. I find joy in exploring the realms of fitness, cultivating a healthy lifestyle, and delving into the spiritual aspects of life.
                                    I thrive on the challenges life throws at me, using them as opportunities for growth. From problem-solving to learning new skills, I am dedicated to thinking outside the box.                                   
                                    Professionally, I am deeply engrossed in the world of technology, innovation, and web development.
                                    As a full-stack developer, I'm passionate about creating seamless digital experiences that not only meet but exceed expectations.  
                                    Beyond the screen and lines of code, I'm an advocate for continuous learning, embracing new knowledge, and staying ahead in the ever-evolving landscape of development.
                                    Join me on this journey of exploration, where we unravel the possibilities of technology and the boundless potential of personal and professional growth. </p>
                                </div>  
                                                            
                        <div class="parg">
                        <h3 class=" mb-3 mt-5">A Journey to Wellbeing.</h3>
                        <p class="mb-5">I'm not just a developer; I'm an advocate for a vibrant and energetic lifestyle.
                            In the gym, I find joy in movement, setting and achieving both physical and mental goals. It's more than just exercise; it's a journey towards self-discovery and empowerment.
                            I embrace an active lifestyle that keeps me energized and ready for whatever challenges come my way.                                        
                            Outside the gym, I extend my commitment to health by indulging in nourishing, wholesome food.
                            I'm not just a consumer—I'm a creator in the kitchen. I'm passionate about crafting healthy dishes using the finest ingredients, turning every meal into a celebration of well-being.                                        
                       </p>
                       </div>

                        <div class="row image-row">
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item mb-4 mb-lg-0">
                                    <img src="images/1.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Coding Passion</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/2.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Web Development Life</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/3.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Wllness Lifestyle</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item mb-4 mb-lg-0">
                                    <img src="images/4.JPG" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Fitness Journey</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/5.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Gym Motivation</h4>
                                </div>
                            </div>                            
                            <div class="col-lg-36 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/6.jpeg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Gym Life</h4>
                                </div>
                            </div>                            
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/7.JPG" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Healthy Cooking</h4>
                                </div>
                            </div>                            
                            <div class="col-lg-6 col-md-6">
                                <div class="blog-item  mb-4 mb-lg-0">
                                    <img src="images/8.jpg" alt="" class="img-fluid image">
                                    <h4 class="mt-3">Nourishing Creations</h4>
                                </div>
                            </div>
                        </div>                    
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item  mb-4 mb-lg-0">
                                <img src="images/9.jpg" alt="" class="img-fluid image">
                                <h4 class="mt-3">Culinary Wellness</h4>
                            </div>
                        </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="blog-item  mb-4 mb-lg-0">
                            <img src="images/10.jpg" alt="" class="img-fluid image">
                            <h4 class="mt-3">Gastronomic Bliss</h4>
                        </div>
                    </div>

                    </div> <!-- end row -->
                </div> <!-- end col lg-12-->
            </div> <!-- end row justify-content-center mt-5 -->
         </div> <!-- end col-lg-12 col-md-12 col-sm-12 col-xs-12 -->
    </div> <!-- end row -->
</div> <!-- end container -->
</section>

<%- include("partials/footer"); -%>
