<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Blog</title>
  <meta charset="utf-8">

      <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Themify -->
    <link rel="stylesheet" href="../../plugins/themify/css/themify-icons.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY BLOG</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="compose"><a href="/compose">CREATE A POST</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">